# Dependencies
node_modules/

# Build output
dist/

# IDE
!.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Cache
.cache/
*.tsbuildinfo
